---
import Layout from '../layouts/Layout.astro';
import Hero from '../assets/hero.svg?raw';
import Shoutbox from '../components/Shoutbox.astro';
---

<Layout title='Welcome to LaMaTeam'>
  <main id='main-content' class='group fixed inset-0 z-40 flex items-center justify-center bg-gray-900 backdrop-blur-sm'>
    <div class='absolute inset-0 opacity-100 block group-hover:hidden box'></div>
    <div class='absolute inset-0 z-0 flex items-center justify-center'>
      <Fragment set:html={Hero} />
    </div>
    <div id='myBox' class='relative hidden group-hover:flex h-full mx-4 w-full max-w-3xl animate-fade-in-up p-8 items-center'>
      <div class='rounded-lg bg-gray-800 shadow-lg grow'>
        <div class='relative flex h-full w-full flex-col overflow-hidden rounded-lg'>
          <div class='relative z-10 flex h-full flex-col justify-center gap-8 p-8 text-center text-white'>
            <!-- Buttons Section -->
            <div class='fixed top-1 left-0 right-0 max-w-4xl mx-auto grid w-full grid-cols-1 gap-4 sm:grid-cols-4'>
              <a
                id='shoutboxBtn'
                class='flex items-center justify-center rounded-lg bg-gray-700 px-6 py-3 font-medium transition-colors hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2'
                href='#'
              >
                Shoutbox
              </a>
              <a
                id='rulesBtn'
                class='flex items-center justify-center rounded-lg bg-gray-700 px-6 py-3 font-medium transition-colors hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2'
                href='#'
              >
                Pravidla
              </a>
              <a
                id='infoBtn'
                class='flex items-center justify-center rounded-lg bg-gray-700 px-6 py-3 font-medium transition-colors hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2'
                href='#'
              >
                Prikazy
              </a>
              <a
                id='vipBtn'
                class='flex items-center justify-center rounded-lg bg-gray-700 px-6 py-3 font-medium transition-colors hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2'
                href='#'
              >
                VIP
              </a>
            </div>

            <!-- Content Sections -->
            <div id='shoutbox' class='space-y-4 hidden'>
              <Shoutbox />
              <p>Vo vyvoji 游댣游땕</p>
            </div>
            <div id='rules' class='space-y-4'>
              <h1 class='mb-4 font-bold tracking-tight text-4xl'>Z치kaz:</h1>
              <!-- Rules Content -->
              <span class='text-yellow-500'>- T kemp na DE map치ch d칠le jak 30 sekund - (SLAY)</span><br />
              <span class='text-yellow-500'>- SPAM (voice,chat) - (KICK/BAN)</span><br />
              <span class='text-yellow-500'>- Op캩tovn칠 nakupov치n칤 - (KICK/BAN)</span><br />
              <span class='text-yellow-500'>- Sprost치 mluva, nad치vky, ur치쬶y, rasismus bez nads치zky - (BAN)</span><br />
              <span class='text-yellow-500'>- kraden칤 nick콢, napodobov치n칤, vyd치v치n칤 se za admina (BAN)</span><br />
              <span class='text-yellow-500'>- pou쮂셨치n칤 cheat콢 (PERMABAN)</span><br />
              <span class='text-yellow-500'>- BHOP / v칤ce jak dva skoky (SLAY/KICK/BAN)</span><br /><br />
              <span class='text-red-500'>!!! NEZNALOST PRAVIDEL NEOMLOUV츼 !!!</span><br /><br /><br />
              <span class='text-red-500'>!!! 칔PLN츼 PRAVIDLA NA LAMATEAM.EU !!!</span>
            </div>
            <div id='info' class='space-y-4 hidden'>
              <h1 class='mb-4 font-bold tracking-tight text-4xl'>U쬴te캜n칠 informace:</h1>
              <span class='text-yellow-500'>Pro odstr캜en칤 od hr치캜e napi코 do chatu </span>
              <span class='text-green-500'>!nb</span>
              <span class='text-yellow-500'><br />Pokud chce코 ve h콏e zobrazit tohle okno, napi코 </span>
              <span class='text-green-500'>!motd</span>
              <span class='text-yellow-500'><br />Pokud m치코 p콏ipom칤nky, n치pady na zlep코en칤, nebo chce코 nahl치sit podv치d캩j칤c칤ho 캜i jinak hru znep콏칤jem켿uj칤c칤ho hr치캜e, </span>
              <a class='text-green-500' href='http://lamateam.eu/contact.php'>napi코 n치m</a>
              <span class='text-yellow-500'><br />- - - - - - - - - - -<br />Chce코 nahr치t demo na cheatera?<br />Otev콏i konzoli a napi코 </span>
              <span class='text-red-500'>record n치zev_dema<br /></span>
              <span class='text-yellow-500'>Kdy chce코 nahr치v치n칤 ukon캜it, napi코 </span>
              <span class='text-red-500'>stop</span>
              <span class='text-yellow-500'
                ><br />Nahran칠 demo najde코 v hlavn칤m adres치콏i hry (/cstrike)<br />Po코li ho admin콢m!<br />- - - - - - - - - - -<br />Majitelem serveru crazy69 | Hosting zabezpe캜uje
                FakaHeda.eu<br />Najde코 n치s taky na discordu a na facebooku - hledej:
              </span>
              <span class='text-red-500'><a href='https://www.facebook.com/groups/437402000675912'>LaMaTeAm.eu</a></span>
            </div>
            <div id='vip' class='space-y-4 hidden'>
              <h1 class='mb-4 font-bold tracking-tight text-4xl'>Chce코 se st치t VIP?</h1>
              <span class='text-yellow-500'>Chce코 n치s sponzorovat a v쬯y se p콏ipojit, kdy je pln칳 server? Podpo콏 n치s:</span><br />
              <span class='text-yellow-500'>1 m캩s칤c = 100 K캜</span><br />
              <span class='text-yellow-500'>6 m캩s칤c콢 = 300 K캜</span><br />
              <span class='text-yellow-500'>12 mes칤c콢 = 500 K캜</span><br /><br />
              <span class='text-yellow-500'>Pen칤ze m콢쬰te zas칤lat na 캜칤slo 칰캜tu: 1939775153/0800</span><br />
              <span class='text-yellow-500'>(IBAN CZ88 0800 0000 0019 3977 5153)</span><br />
              <span class='text-yellow-500'>Do informace pro p콏칤jemce uve캞 sv콢j nick, a콘 v칤me kdo poslal p콏칤sp캩vek.</span><br />
              <span class='text-yellow-500'>Podpo콏it provoz serveru m콢쬰코 i zcela nezji코tn캩 i libovolnou 캜치stkou. Napi코 n치m a ur캜it캩 se dohodneme</span><br /><br />
              <span class='text-yellow-500'>P콎IPOJIT DO VIP SLOTU LZE V KONZOLE: </span>
              <span class='text-red-500'>connect 82.208.17.101:27516</span>
            </div>

            <!-- Footer Section -->
            <div class='fixed bottom-1 left-0 right-0 max-w-4xl mx-auto grid w-full grid-cols-1 gap-4 sm:grid-cols-3'>
              <a
                href='https://sourcebans.fakaheda.eu/sbans_336496/'
                class='flex items-center justify-center rounded-lg bg-gray-700 px-6 py-3 font-medium transition-colors hover:bg-indigo-600'
              >
                Banlist
              </a>
              <a href='https://stats.lamateam.eu' class='flex items-center justify-center rounded-lg bg-gray-700 px-6 py-3 font-medium transition-colors hover:bg-indigo-600'>
                Stats
              </a>
              <a href='http://lamateam.eu/contact.php' class='flex items-center justify-center rounded-lg bg-gray-700 px-6 py-3 font-medium transition-colors hover:bg-indigo-600'>
                Kontakt
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  /* Animations */
  @keyframes mymove {
    to {
      display: block;
    }
    from {
      display: none;
    }
  }

  @keyframes roundaction {
    0% {
      left: 0;
      top: 0;
      transform: rotate(135deg);
    }

    25% {
      left: 0;
      top: calc(100% - 75px);
      transform: rotate(45deg);
    }

    50% {
      top: calc(100% - 75px);
      left: calc(100% - 75px);
      transform: rotate(-45deg);
    }

    75% {
      left: calc(100% - 75px);
      top: 0;
      transform: rotate(-135deg);
    }

    100% {
      left: 0;
      top: 0;
      transform: rotate(135deg);
    }
  }

  .box {
    position: fixed;
    left: 0;
    top: 0;
    width: 75px;
    height: 75px;
    background-image: url(/assets/pointer.svg);
    background-repeat: no-repeat;
    animation: roundaction 3.5s infinite forwards;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const userAgent = navigator.userAgent;
    const isGame = userAgent.includes('Valve Client'); // In-game detection for Valve client
    const mainContent = document.getElementById('main-content');

    // Apply or remove bg-opacity-0 based on userAgent detection
    if (isGame && mainContent) {
      mainContent.classList.add('bg-opacity-0');
    }

    // Toggle visibility of sections
    const shoutbox = document.getElementById('shoutbox');
    const rules = document.getElementById('rules');
    const info = document.getElementById('info');
    const vip = document.getElementById('vip');
    const buttons = {
      shoutboxBtn: document.getElementById('shoutboxBtn'),
      rulesBtn: document.getElementById('rulesBtn'),
      infoBtn: document.getElementById('infoBtn'),
      vipBtn: document.getElementById('vipBtn'),
    };

    function showSection(sectionToShow: HTMLElement | null) {
      [shoutbox, rules, info, vip].forEach((section) => {
        if (section) {
          section.classList.add('hidden');
        }
      });
      if (sectionToShow) {
        sectionToShow.classList.remove('hidden');
      }
    }

    buttons.shoutboxBtn?.addEventListener('click', () => showSection(shoutbox));
    buttons.rulesBtn?.addEventListener('click', () => showSection(rules));
    buttons.infoBtn?.addEventListener('click', () => showSection(info));
    buttons.vipBtn?.addEventListener('click', () => showSection(vip));
  });
</script>
